:root {
  color-scheme: light;
  --primary-color: #f3586a;
  --secondary-color: #f07a25;
  --info-color: #4185f2;
  --success-color: #4fc067;
  --warning-color: #f68d20;
  --danger-color: #e55345;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
