@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html[data-theme="rose"] {
    --color-primary: 243, 88, 106;
    --color-secondary: 240, 122, 37;
    --color-accent: 243, 244, 246;
    --color-success: 79, 192, 103;
    --color-info: 65, 133, 242;
    --color-warning: 246, 141, 32;
    --color-danger: 229, 83, 69;
    --text-color: 75, 85, 99;
    --border-color: 255, 255, 255;
    --bg-1: 243, 244, 246;
    --bg-2: 255, 255, 255;
    --bg-text: 255, 255, 255;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --cp-bg: 255, 255, 255;
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --padding-btn: 0.625rem 1.5rem;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --tw-shadow: #e5eaf2;
  }

  html[data-theme="dark"] {
    --color-primary: 243, 88, 106;
    --color-secondary: 240, 122, 37;
    --color-accent: 15, 23, 42;
    --color-success: 79, 192, 103;
    --color-info: 65, 133, 242;
    --color-warning: 246, 141, 32;
    --color-danger: 229, 83, 69;
    --text-color: 209, 213, 219;
    --border-color: 30, 41, 59;
    --bg-1: 15, 23, 42;
    --bg-2: 30, 41, 59;
    --bg-text: 255, 255, 255;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --cp-bg: 255, 255, 255;
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --padding-btn: 0.625rem 1.5rem;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --tw-shadow: #e5eaf2;
  }

  html[data-theme="nier"] {
    --color-primary: 99, 95, 84;
    --color-secondary: 207, 107, 83;
    --color-accent: 243, 88, 106;
    --color-success: 79, 192, 103;
    --color-info: 65, 133, 242;
    --color-warning: 246, 141, 32;
    --color-danger: 229, 83, 69;
    --text-color: 78, 75, 66;
    --border-color: 153, 152, 131;
    --bg-1: 205, 200, 176;
    --bg-2: 218, 212, 187;
    --bg-text: 78, 75, 66;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --cp-bg: 255, 255, 255;
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --padding-btn: 0.625rem 0.875rem;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --tw-shadow: #e5eaf2;
  }

  html[data-theme="custom1"] {
    --color-primary: 9, 76, 90;
    --color-secondary: 62, 72, 83;
    --color-accent: 0, 103, 236;
    --color-success: 11, 152, 76;
    --color-info: 208, 89, 41;
    --color-warning: 229, 197, 13;
    --color-danger: 238, 5, 34;
    --text-color: 15, 15, 14;
    --border-color: 153, 152, 131;
    --bg-1: 214, 215, 206;
    --bg-2: 235, 232, 217;
    --bg-text: 78, 75, 66;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --cp-bg: 255, 255, 255;
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --padding-btn: 0.625rem 1.5rem;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --tw-shadow: #e5eaf2;
  }
}

@layer components {
  /* Body */
  body {
    color: rgb(var(--text-color));
    background-color: rgb(var(--bg-1));
  }

  .w-header {
    @apply z-20 fixed top-0 right-0 px-5 py-3 duration-300 shadow-md;
    background-color: rgb(var(--bg-2));
    box-shadow: var(--box-shadow);
  }

  .w-header-search {
    @apply px-4 z-40 duration-300 shadow-md  -top-20 focus-within:top-0 right-0;
    background-color: rgb(var(--bg-2));
  }

  .vertical-menu {
    @apply text-base h-screen fixed w-64 top-0 z-50 duration-300 border-l-0 shadow-md;
    background-color: rgb(var(--bg-2));
    box-shadow: var(--box-shadow);
  }

  /* RS Card Component */
  .card {
    @apply mb-6 duration-300;
    background-color: rgb(var(--bg-2));
    border-radius: var(--rounded-box);
    box-shadow: var(--box-shadow);
  }

  .card .card-header {
    @apply text-xl p-5 font-medium;
  }

  .card .card-body {
    @apply px-5 pb-5;
  }

  .card .card-footer {
    @apply px-5 pb-5;
  }
  /* ----------------------------- */

  /* RS Alert Component */
  .alert {
    @apply visible flex items-center justify-between py-3 px-3 rounded-lg;
  }

  .alert.alert-primary {
    @apply bg-primary/20  text-primary;
  }

  .alert.alert-secondary {
    @apply bg-secondary/20 text-secondary;
  }

  .alert.alert-success {
    @apply bg-success/20 text-success;
  }

  .alert.alert-info {
    @apply bg-info/20 text-info;
  }

  .alert.alert-warning {
    @apply bg-warning/20 text-warning;
  }

  .alert.alert-danger {
    @apply bg-danger/20 text-danger;
  }
  /* ----------------------------- */

  /* RS Badge Component */

  .badge {
    @apply inline-flex items-center justify-center px-2 py-1 rounded-full text-xs font-bold leading-none;
  }

  .badge.badge-primary {
    @apply bg-primary text-white;
  }

  .badge.badge-secondary {
    @apply bg-secondary text-white;
  }

  .badge.badge-success {
    @apply bg-success text-white;
  }

  .badge.badge-info {
    @apply bg-info text-white;
  }

  .badge.badge-warning {
    @apply bg-warning text-white;
  }

  .badge.badge-danger {
    @apply bg-danger text-white;
  }

  /* ----------------------------- */

  /* RS Button */

  .button {
    @apply w-fit rounded-lg flex justify-center items-center h-fit;
  }

  .button[class*="button-"]:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
  }

  .button[class*="button-"]:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .button.button-primary {
    @apply bg-primary text-white;
  }

  .button.button-secondary {
    @apply bg-secondary text-white;
  }

  .button.button-success {
    @apply bg-success text-white;
  }

  .button.button-info {
    @apply bg-info text-white;
  }

  .button.button-warning {
    @apply bg-warning text-white;
  }

  .button.button-danger {
    @apply bg-danger text-white;
  }

  .button[class*="outline-"]:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .button.outline-primary {
    @apply border border-primary text-primary;
  }

  .button.outline-primary:hover {
    @apply bg-primary/5;
  }

  .button.outline-secondary {
    @apply border border-secondary text-secondary;
  }

  .button.outline-secondary:hover {
    @apply bg-secondary/5;
  }

  .button.outline-success {
    @apply border border-success text-success;
  }

  .button.outline-success:hover {
    @apply bg-success/5;
  }

  .button.outline-info {
    @apply border border-info text-info;
  }

  .button.outline-info:hover {
    @apply bg-info/5;
  }

  .button.outline-warning {
    @apply border border-warning text-warning;
  }

  .button.outline-warning:hover {
    @apply bg-warning/5;
  }

  .button.outline-danger {
    @apply border border-danger text-danger;
  }

  .button.outline-danger:hover {
    @apply bg-danger/5;
  }

  .button[class*="text-"]:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .button.texts-primary {
    @apply text-primary;
  }

  .button.texts-primary:hover {
    @apply bg-primary/10;
  }

  .button.texts-secondary {
    @apply text-secondary;
  }

  .button.texts-secondary:hover {
    @apply bg-secondary/10;
  }

  .button.texts-success {
    @apply text-success;
  }

  .button.texts-success:hover {
    @apply bg-success/10;
  }

  .button.texts-info {
    @apply text-info;
  }

  .button.texts-info:hover {
    @apply bg-info/10;
  }

  .button.texts-warning {
    @apply text-warning;
  }

  .button.texts-warning:hover {
    @apply bg-warning/10;
  }

  .button.texts-danger {
    @apply text-danger;
  }

  .button.texts-danger:hover {
    @apply bg-danger/10;
  }

  .button-sm {
    @apply text-xs;
    padding: var(--padding-btn);
  }

  .button-md {
    @apply text-sm;
    padding: var(--padding-btn);
  }

  .button-lg {
    @apply text-base;
    padding: var(--padding-btn);
  }

  /* ----------------------------- */

  /* Collapse Component */

  .collapse {
    @apply w-full mb-4;
    background-color: rgb(var(--bg-2));
  }

  .collapse-border {
    @apply border-t border-x rounded-lg;
  }

  .collapse-group {
    @apply overflow-hidden duration-300 dark:border-slate-700;
    background-color: rgb(var(--bg-2));
  }

  .collapse-group.collapse-default {
    @apply border-b;
  }

  .collapse-group.collapse-border {
    @apply border-b last:rounded-b-lg;
  }

  .collapse-group.collapse-card {
    @apply my-4;
    box-shadow: var(--box-shadow);
  }

  .collapse-header {
    @apply text-lg font-medium px-5 pr-10 py-4 cursor-pointer;
  }

  .collapse-body {
    @apply px-5 pb-4 pt-2;
  }

  /* Dropdown Component */

  .dropdown {
    @apply relative inline-flex;
  }

  .dropdown .dropdown-section {
    @apply absolute z-10 shadow-md rounded-lg py-1 whitespace-nowrap;
    background-color: rgb(var(--bg-2));
  }

  .dropdown-section.list-bottom-sm {
    @apply top-10;
  }

  .dropdown-section.list-bottom-md {
    @apply top-12;
  }

  .dropdown-section.list-bottom-lg {
    @apply top-16;
  }

  .dropdown-section.list-top-sm {
    @apply bottom-10;
  }

  .dropdown-section.list-top-md {
    @apply bottom-12;
  }

  .dropdown-section.list-top-lg {
    @apply bottom-16;
  }

  .dropdown-section.list-left {
    @apply top-0 -left-[10.5rem];
  }

  .dropdown-section.list-right {
    @apply top-0 -right-[10.5rem];
  }

  .dropdown-section.list-align-right {
    @apply right-0;
  }

  .dropdown-section .dropdown-item {
    @apply flex items-center cursor-pointer px-4 py-2;
  }

  .dropdown-section .dropdown-item:hover {
    background-color: rgb(var(--bg-1));
  }

  /* ----------------------------- */

  /* Modal Component */

  .modal {
    @apply fixed top-0 left-0 w-full h-full overflow-hidden;
  }

  .modal.modal-top {
    @apply flex items-start;
  }

  .modal.modal-center {
    @apply flex items-center;
  }

  .modal.modal-end {
    @apply flex items-end;
  }

  .modal.modal-hide-overlay {
    @apply !bg-transparent;
  }

  .modal .modal-dialog {
    @apply w-full md:w-auto;
  }

  .modal .modal-dialog .modal-content {
    @apply border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding rounded-md outline-none text-current;
    background-color: rgb(var(--bg-2));
  }

  .modal .modal-dialog .modal-content .modal-header {
    @apply flex flex-shrink-0 items-center justify-between p-4 border-b rounded-t-md;
    border-color: rgb(var(--border-color));
  }

  .modal .modal-dialog .modal-content .modal-body {
    @apply relative p-4;
  }

  .modal .modal-dialog .modal-content .modal-footer {
    @apply flex flex-shrink-0 flex-wrap items-center justify-end px-4 pb-4 rounded-b-md gap-x-3;
  }

  /* ----------------------------- */

  /* Progress Component */

  .progress-wrapper {
    @apply w-full mb-4;
  }

  .progress-wrapper .progress-label {
    @apply text-sm mb-1;
  }

  .progress-wrapper .progress {
    @apply flex rounded-full;
  }

  .progress-wrapper .progress.progress-sm {
    @apply h-3;
  }

  .progress-wrapper .progress.progress-md {
    @apply h-4;
  }

  .progress-wrapper .progress.progress-lg {
    @apply h-5;
  }

  .progress-wrapper .progress.progress-sm {
    @apply h-3;
  }

  .progress-wrapper .progress.progress-primary {
    @apply bg-primary/20;
  }

  .progress-wrapper .progress.progress-secondary {
    @apply bg-secondary/20;
  }

  .progress-wrapper .progress.progress-success {
    @apply bg-success/20;
  }

  .progress-wrapper .progress.progress-info {
    @apply bg-info/20;
  }

  .progress-wrapper .progress.progress-warning {
    @apply bg-warning/20;
  }

  .progress-wrapper .progress.progress-danger {
    @apply bg-danger/20;
  }

  .progress-wrapper .progress .progress-bar {
    @apply flex items-center justify-center rounded-full text-white;
  }

  .progress-wrapper .progress .progress-bar.primary {
    @apply bg-primary;
  }

  .progress-wrapper .progress .progress-bar.secondary {
    @apply bg-secondary;
  }

  .progress-wrapper .progress .progress-bar.success {
    @apply bg-success;
  }

  .progress-wrapper .progress .progress-bar.info {
    @apply bg-info;
  }

  .progress-wrapper .progress .progress-bar.warning {
    @apply bg-warning;
  }

  .progress-wrapper .progress .progress-bar.danger {
    @apply bg-danger;
  }

  /* ----------------------------- */

  /* Progress Component */

  /* ----------------------------- */

  .icon-btn {
    @apply flex
            items-center
            justify-center
            transition-colors
            duration-300;
    color: rgb(var(--text-color));
  }

  .icon-btn.profile {
    @apply border;
    border-radius: var(--rounded-box);
    border: 1px solid rgb(var(--border-color));
    color: rgb(var(--text-color));
  }

  .icon-btn:hover {
    color: rgb(var(--text-color));
    background-color: rgb(var(--bg-1));
  }

  h1 {
    @apply text-4xl
            font-bold;
  }

  h2 {
    @apply text-3xl
            font-bold;
  }

  h3 {
    @apply text-2xl
            font-bold;
  }

  h4 {
    @apply text-xl
            font-bold;
  }

  h5 {
    @apply text-lg
            font-bold;
  }

  h6 {
    @apply text-base
            font-bold;
  }

  /* Table Component */
  .table-wrapper {
    @apply w-full border-0 rounded-md border-gray-200 dark:border-slate-700;
  }

  .table-header {
    @apply m-4;
  }

  .table-header-filter {
    @apply flex flex-col md:flex-row justify-start md:justify-between items-start md:items-center gap-4;
  }

  .table-content {
    @apply w-full;
  }

  .table-footer {
    @apply flex justify-center md:justify-between items-center m-4;
  }

  .table-footer-page {
    @apply flex justify-center gap-x-2;
  }
}
